<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
    <profile>
      <id>codeship</id>
      <properties>
        <protoc>${session.executionRootDirectory}/target/protobuf/bin/protoc</protoc>
        <resource-conf>src/main/conf/heroku</resource-conf>
      </properties>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>codeship</activeProfile>
  </activeProfiles>
</settings>
