<?xml version="1.0" encoding="utf-8"?>
<!-- 
   Copyright 2012,2015 the original author or authors. All rights reserved.
   site: http://www.ganshane.com
-->

<hall_webservice>
<log_file>${server.home}/log/hall.webservice.log</log_file>
<local_store_dir>${server.home}/config/local.webservice</local_store_dir>
<web>
    <bind>0.0.0.0:8080</bind>
</web>
<union4pfmip>
    <cron>0 * * * * ? *</cron>
    <url>http://10.12.223.4:9001/AFIS/SJZWZDSB?wsdl</url>
    <target_namespace>http://www.msp.gov.cn/szxc</target_namespace>
    <user>370000350000</user>
    <password>123456</password>
    <dateLimit>2017</dateLimit>
    <TenPrintPrex>1</TenPrintPrex>
    <LatentPrex>2</LatentPrex>
    <send_checkin_cron>30 * * * * ? *</send_checkin_cron>
    <upload_checkin_cron>30 * * * * ? *</upload_checkin_cron>
</union4pfmip>
    <handprintService>
        <cron>0 0/1 * * * ? *</cron>
        <get_caseno_cron>0 0/5 * * * ? *</get_caseno_cron>
        <send_hit_cron>0 0/10 * * * ? *</send_hit_cron>
        <get_latent_package_cron>0 0/3 * * * ? *</get_latent_package_cron>
        <url>http://211.157.146.7:9000/xckyservice_cxf/ws/FPT50HandprintService?wsdl</url>
        <target_namespace>http://xckyservice.hisign.com/</target_namespace>
        <user>AFIS_JZ</user>
        <password>AFIS_JZ</password>
        <local_store_dir>support/fpt</local_store_dir>
        <survey_v62_server>
            <app_server>
                <host>127.0.0.1</host>
                <port>6898</port>
                <user>afisadmin</user>
                <password>helloafis</password>
            </app_server>
            <survey_config>
                <unit_code>110000</unit_code>
                <start_time>2018-01-01 00:00:00</start_time>
                <end_time>2018-02-01 00:00:00</end_time>
            </survey_config>
        </survey_v62_server>
    </handprintService>
</hall_webservice>
