<?xml version="1.0" encoding="utf-8"?>
<!-- 
   Copyright 2014,2015 Jun Tsai. All rights reserved.
   site: http://www.ganshane.com
-->

<hall_extractor>
  <log_file>${server.home}/log/nirvana.hall.image.log</log_file>
  <local_store_dir>${server.home}/config/local</local_store_dir>
  <rpc>
    <bind>127.*:5559</bind>
  </rpc>
  <zk>
    <address>127.0.0.1:3333</address>
  </zk>
  <web>
    <bind>0.0.0.0:9001</bind>
  </web>
</hall_extractor>

