<?xml version="1.0" encoding="utf-8"?>
<!-- 
   Copyright 2012,2015 the original author or authors. All rights reserved.
   site: http://www.ganshane.com
-->

<hall_api>
    <log_file>${server.home}/log/monad.api.log</log_file>
    <local_store_dir>${server.home}/config/local.api</local_store_dir>
    <rpc>
        <bind>127.*:5559</bind>
    </rpc>
    <zk>
        <address>192.168.99.100:3333</address>
    </zk>
    <web>
      <bind>0.0.0.0:8080</bind>
    </web>
    <!--<sync>
      <sync_cron>0 * * * * ? *</sync_cron>
    </sync>-->
</hall_api>
