out/
.DS_Store
.classpath
.project
.settings/
*.ipr
*.iml
*.iws
/target
*/target
test-output
temp-testng*.xml
build/
.gradle
*~
\#*
*.log
.idea
support/data
support/dll/
support/config/*.xml
src/main/conf/development/log4j.properties
dependency-reduced-pom.xml
